.background {
  height: 400vh;
  background: url("./assets/images/background-color.png");
  background-size: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.landingPage {
  height: 100vh;
  white-space: nowrap;
  overflow-x: hidden;
}

.BenefitSection {
  height: 100vh;
}
